.skill {
    padding: 50px 0 100px 0;
    position: relative;
    background-image: url('../../assets/img/code.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.skill-box {
    background: #15151566;
    transition: background 0.5s ease-in-out;
    border-radius: 64px;
    text-align: center;
    padding: 40px 50px;
    margin-top: 60px;
}

.skill-box:hover {
    background: rgb(255, 255, 255);
    color: black;
}

.skill h2 {
    font-size: 45px;
    font-weight: 700;
}

.skill p {
    color: #000000;
    font-size: 18px;
    margin: 14px 0 75px 0;
}

.icon-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.icon-list a {
    padding: 20px;

}

.icon-list img {
    width: 100px;
    height: 100px;
}