.resume {
    max-width: 600px;
    margin: 0 auto;
    margin-top: 120px;
    margin-bottom: 50px;
    padding: 20px;
    border: 2px solid #333;
    border-radius: 10px;
    font-family: Arial, sans-serif;
}

.resume h1 {
    font-size: 2em;
    margin-bottom: 0.5em;
}

.resume h2 {
    font-size: 1.5em;
    margin-top: 0;
}

