nav.navbar {
    padding: 18px 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 9999;
    background-color: #121212;
}

nav.navbar h2{
    color: azure;
}

nav.navbar .navbar-nav .nav-link.navbar-link {
    font-weight: 400;
    color: #fff;
    padding: 0 25px;
    font-size: 18px;
}

nav.navbar .navbar-nav a.nav-link.navbar-link:hover {
    background-color: white;
    color: black;
    border-radius: 15px;
}

span.navbar-text {
    display: flex;
    align-items: center;
}

.navbar-text button {
    font-weight: 700;
    color: #fff;
    border: 1px solid #fff;
    padding: 18px 34px;
    font-size: 18px;
    margin-left: 18px;
    position: relative;
    background-color: transparent;
}

